<script type="text/javascript" src="socialConnect.js"></script>
<script>socialConnectLoad()</script>

<body>
  <div class="jumbotron text-center primarybackground">
    <div class="container">
    </div>
  </div>
  <div class="container">
  </div>
</body>
