<body class="primarybackground">
  <div class="jumbotron text-center primarybackground">
    <div class="container">
      <h1>Cadastro</h1>
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
            <input aria-describedby="basic-addon1" class="form-control" placeholder="Usuário" type="text" id="username" onkeyup="if(event.keyCode==13){socialSignup()}">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input aria-describedby="basic-addon1" class="form-control" placeholder="E-mail" type="text" id="email" onkeyup="if(event.keyCode==13){socialSignup()}">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
            <input type="password" aria-describedby="basic-addon1" class="form-control" placeholder="Senha" type="text" id="passphrase" onkeyup="if(event.keyCode==13){socialSignup()}">
          </div>
          <a type="button" class="btn btn-lg btn-default" id="signupbutton" onclick="socialSignup()">
            <span class="fa fa-plus"></span> CADASTRAR
          </a>
        </div>
        <div class="col-xs-3"></div>
      </div>
    </div>
  </div>
</body>
