<script src="socialLogin.js" type="text/javascript"></script>
<script>
  socialLoginLoad()
</script>
<body class="primarybackground">
  <div class="jumbotron text-center primarybackground">
    <div class="container">
      <h1>Bem-vindo!</h1>
      <p>Faça o login usando uma das suas redes sociais:</p>
      <div class="widget row">
        <div class="socialidcontainer" id='login­c6ab6f67'></div>
      </div>
      <div class="row">
        <a class="btn btn-lg btn-default" id="signupbutton" type="button">
          <span class="fa fa-plus"></span>
          Novo Usuário
        </a>
      </div>
      <div></div>
    </div>
  </div>
</body>
