<script type="text/javascript" src="socialConnect.js"></script>
<script>socialConnectLoad()</script>

<body>
  <div class="jumbotron text-center primarybackground">
    <div class="container">
      <a href="/">
        <img class="profile-picture" src=<%= @picture %>>
      </a>
      <h1>Bem-vindo <%= @name %>!</h1>
      <div class="widget">
        <div id='connectsocialid' class="socialidcontainer"></div>
      </div>
      <br>
      <a type="button" class="btn btn-lg btn-default" id="logoutbutton">
        <span class="glyphicon glyphicon-log-out"></span> LOGOUT
      </a>
    </div>
  </div>
  <div class="container">
    <pre><%= JSON.pretty_generate(@apiresponse) %></pre>
    <hr>
  </div>
</body>
