<body class="primarybackground">
  <div class="jumbotron text-center primarybackground">
    <div class="container">
      <h1>Seu perfil</h1>
      <p>Faça o login usando uma das suas redes sociais:</p>
      <div class="widget">
        <div id='login­c6ab6f67' class="socialidcontainer"></div>
      </div>
      <div>
      </div>
    </div>
  </div>
</body>
